/* 引入本地的 font-family */
@import url('font/font-family.css');

/* 组件 css 样式 */
@import url('components/button.css');
@import url('components/input.css');
@import url('components/bubble.css');
@import url('components/divide.css');
@import url('components/popup.css');
@import url('components/settingPanel.css');
@import url('components/switch.css');
@import url('components/radio.css');
@import url('components/images.css');
@import url('components/contextmenu.css');
@import url('components/hyperlink.css');
@import url('components/toast.css');
@import url('components/changelog.css');

/* 其他 css 样式 */
@import url('components/app.css');
@import url('components/header.css');
@import url('components/main.css');
@import url('components/overlay.css');

:root {
    /* theme ui colors */
    --theme-ui-colors-muted: #f6f8fa;
    --theme-ui-colors-cards: #ffffff;
    --theme-ui-colors-cards-blur: #ffffff80;
    --theme-ui-colors-toast: #ffffff;
    --theme-ui-colors-toast-blur: #ffffff80;
    --theme-ui-colors-primary: #4091ff;
    --theme-ui-colors-text: #2f363d;
    --theme-ui-colors-useless: #d7d7d7;
    --theme-ui-colors-overlay: #24242442;

    /* theme ui other colors */
    --theme-ui-colors-red: #f56c6c;
    --theme-ui-colors-blue: #4091ff;
    --theme-ui-colors-yellow: #E6A23C;
    --theme-ui-colors-green: #67C23A;

    /* theme ui shadow */
    --theme-ui-shadow-cards: rgba(0, 0, 0, 0.1) 0 1px 3px 0,
    rgba(0, 0, 0, 0.06) 0 1px 2px 0;

    /* theme-ui-blur */
    --theme-ui-blur: 8px;

    /* theme animation */
    --animation-duration-muted: 0.2s;
    --animation-duration-slow: 0.5s;
    --animation-duration-large: 1s;
    --animation-delay-per-word: 0.15s;
    --animation-cubic-bezier-muted: cubic-bezier(0.65, 0.05, 0.36, 1);
    --animation-cubic-bezier-ease: cubic-bezier(0.25, 0, 0.6, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    background-color: var(--theme-ui-colors-muted);
    color: var(--theme-ui-colors-text);
    transition: background-color var(--animation-duration-muted) var(--animation-cubic-bezier-muted);
    font-family: 'Resource-Han-Rounded', system-ui, PingFang SC, PingFangSC-Regular, Microsoft YaHei, Hiragino Sans GB,
    Heiti SC, WenQuanYi Micro Hei, sans-serif, Apple Braille;
}

body[data-mode=dark] {
    /* theme ui colors */
    --theme-ui-colors-muted: #242424;
    --theme-ui-colors-cards: #2f2f2f;
    --theme-ui-colors-cards-blur: #2f2f2f80;
    --theme-ui-colors-toast: #3b3b3b;
    --theme-ui-colors-toast-blur: #3b3b3b80;
    --theme-ui-colors-text: #f2f2f2;
    --theme-ui-colors-useless: #474747;
    --theme-ui-colors-mask: #64646442;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 0.875rem;
    margin: 0 auto;
    color: color-mix(in oklab, var(--theme-ui-colors-text), var(--theme-ui-colors-cards) 60%);
    cursor: default;
}