.bubble__parentElement {
    position: relative;
}

.bubble {
    --bubble-padding: 8px;

    position: absolute;
    display: flex;
    box-shadow: var(--theme-ui-shadow-cards);
    background-color: var(--theme-ui-colors-toast);
    border-radius: 6px;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: width var(--animation-duration-muted) var(--animation-cubic-bezier-muted),
    height var(--animation-duration-muted) var(--animation-cubic-bezier-muted),
    background-color var(--animation-duration-muted) var(--animation-cubic-bezier-muted);
}

#app[data-blurExpand=true] .bubble {
    background-color: var(--theme-ui-colors-toast-blur);
    backdrop-filter: blur(var(--theme-ui-blur));
}

.bubble .bubble__container {
    padding: var(--bubble-padding);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* bubble positions */
.bubble.bubble__position-bottom-right {
    flex-direction: row-reverse;
    top: 110%;
    right: 0;
}

.bubble.bubble__position-bottom-left {
    top: 110%;
    left: 0;
}

.bubble.bubble__position-bottom {
    top: 110%;
    left: 0;
    width: 100%;
}