/* default */
button,
.button {
    all: unset;
    min-height: 32px;
    display: flex;
    align-items: center;
    scale: 1;
    border-radius: 4px;
    color: var(--theme-ui-colors-text);
    background-color: transparent;
    transition: background-color var(--animation-duration-muted) var(--animation-cubic-bezier-muted),
    color var(--animation-duration-muted) var(--animation-cubic-bezier-muted),
    scale var(--animation-duration-muted) var(--animation-cubic-bezier-muted),
    opacity var(--animation-duration-muted) var(--animation-cubic-bezier-muted);
}

button:hover,
.button:hover {
    scale: 1.05;
    color: var(--theme-ui-colors-primary);
}

button:active,
.button:active {
    scale: 0.95;
}

/* only-icon */
button.button__only-icon,
.button.button__only-icon {
    width: 32px;
    justify-content: center;
}

button.button__only-icon svg,
.button.button__only-icon svg {
    --icon-size: 20px;

    width: var(--icon-size);
    height: var(--icon-size);
}

/* only-text */
button.button__only-text,
.button.button__only-text {
    width: auto;
    padding: 0 12px;
    font-size: 0.75rem;
    flex: 1;
}

/* icon-text */
button.button__icon-text,
.button.button__icon-text {
    gap: 8px;
    padding: 0 8px;
}

button.button__icon-text svg,
.button.button__icon-text svg {
    --icon-size: 18px;

    width: var(--icon-size);
    height: var(--icon-size);
}

button.button__icon-text .button__text,
.button.button__icon-text .button__text {
    flex: 1;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.125rem;
}

/* button__color */
button.button__color-primary,
.button.button__color-primary {
    color: var(--theme-ui-colors-primary);
}

button.button__color-green,
.button.button__color-green {
    color: var(--theme-ui-colors-green);
}

button.button__color-red,
.button.button__color-red {
    color: var(--theme-ui-colors-red);
}

button.button__color-yellow,
.button.button__color-yellow {
    color: var(--theme-ui-colors-yellow);
}

button.button__color-blue,
.button.button__color-blue {
    color: var(--theme-ui-colors-blue);
}

button.button__color-hover-red:hover,
.button.button__color-hover-red:hover {
    color: var(--theme-ui-colors-red);
}

/* button__background */
button.button__background-primary,
.button.button__background-primary {
    background-color: color-mix(in oklab, var(--theme-ui-colors-primary), var(--theme-ui-colors-cards) 80%);
}

button.button__background-red,
.button.button__background-red {
    background-color: color-mix(in oklab, var(--theme-ui-colors-red), var(--theme-ui-colors-cards) 80%);
}

button.button__background-green,
.button.button__background-green {
    background-color: color-mix(in oklab, var(--theme-ui-colors-green), var(--theme-ui-colors-cards) 80%);
}

button.button__background-yellow,
.button.button__background-yellow {
    background-color: color-mix(in oklab, var(--theme-ui-colors-yellow), var(--theme-ui-colors-cards) 80%);
}

button.button__background-blue,
.button.button__background-blue {
    background-color: color-mix(in oklab, var(--theme-ui-colors-blue), var(--theme-ui-colors-cards) 80%);
}

button.button__background-hover-normal:hover,
.button.button__background-hover-normal:hover {
    background-color: color-mix(in oklab, var(--theme-ui-colors-primary), var(--theme-ui-colors-cards) 80%);
}

/* not-scale */
button.not-scale:hover,
.button.not-scale:hover {
    scale: 1;
}

button.not-scale:active,
.button.not-scale:active {
    scale: 1;
}

/* disabled */
button:disabled,
.button:disabled {
    color: var(--theme-ui-colors-useless);
}

button:disabled:hover,
.button:disabled:hover,
button:disabled:active,
.button:disabled:active {
    scale: 1;
}