#changelog {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#changelog .changelog__title {
    font-size: 1.35rem;
    cursor: default;
}

#changelog .changelog__list {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 0.875rem;
}

#changelog code {
    color: color-mix(in oklab, var(--theme-ui-colors-text), var(--theme-ui-colors-cards) 70%);
}