.images__container {

}

.images__container .image__container {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--theme-ui-colors-useless);
}

.images__container .images__container.image__custom {

}

.images__container .image__container::before {
    content: '';
    display: block;
    padding-top: 56.25%;
}

.images__container .image__container.image__settings {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.images__container .image__container.image__settings::before {
    display: none;
}

.images__container .image__container.image__settings .image__settings__title {
    font-size: 1rem;
    font-weight: 600;
}

.images__container .image__container.image__settings .image__settings__subheading {
    font-size: 0.75rem;
    color: color-mix(in oklab, var(--theme-ui-colors-text), var(--theme-ui-colors-muted) 70%);
}

.images__container .image__container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scale: 1;
    transition: scale var(--animation-duration-muted) var(--animation-cubic-bezier-muted);
}

.images__container .image__container:hover img {
    scale: 1.2;
}

.image__container input[type=radio][name=wallpaper-images] {
    display: none;
}

.images__container .image__selector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: var(--theme-ui-colors-primary);
    z-index: 2;
    transition: transform var(--animation-duration-muted) var(--animation-cubic-bezier-muted);
}

.images__container .image__selector svg {
    --svg-size: 32px;

    width: var(--svg-size);
    height: var(--svg-size);
}

.image__container input[type=radio][name=wallpaper-images]:checked + .image__selector {
    transform: translate(-50%, -50%) scale(1);
}