#app #app__time {
    margin: 0 auto;
    font-size: 3rem;
    transition: height var(--animation-duration-muted) var(--animation-cubic-bezier-muted),
        font-size var(--animation-duration-muted) var(--animation-cubic-bezier-muted);
}

#app__time #app__clock {
    display: none;
    height: 1.5em;
    font-weight: 600;
    user-select: none;
    pointer-events: none;
    transition: color var(--animation-duration-muted) var(--animation-cubic-bezier-muted);
}

#header__clock.show,
#app__time #app__clock.show {
    display: flex !important;
}

#app #app__search {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 12px auto 0;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: var(--theme-ui-colors-cards);
    box-shadow: var(--theme-ui-shadow-cards);
    transition: background-color var(--animation-duration-muted) var(--animation-cubic-bezier-muted);
}

#app[data-blurSearch=true] #app__search {
    background-color: var(--theme-ui-colors-cards-blur);
    backdrop-filter: blur(var(--theme-ui-blur));
}

#app__search #engine__selector {
    z-index: 2;
}

#app__search #search__history__options button .search__history__delete {
    opacity: 0;
}

#app__search #search__history__options button:hover .search__history__delete {
    opacity: 1;
}

#app__search .engine__divide {
    display: none;
}

#app__search .engine__divide:has(+*) {
    display: block;
}

/* svg 填充动画 */
#app #app__title {
    margin: 12px auto 0;
}

#app__title.title__status-hide {
    display: none;
}

#app__title svg {
    color: var(--theme-ui-colors-primary);
    transition: color var(--animation-duration-muted) var(--animation-cubic-bezier-muted);
    animation: fill-animation var(--animation-duration-slow) ease-in-out forwards calc(var(--animation-delay-per-word) * 4 + var(--animation-duration-large) - 1s);
}

#app__title svg path {
    animation-timing-function: var(--animation-cubic-bezier-ease, ease);
    animation-name: line-animation;
    animation-duration: var(--animation-duration-large);
    animation-fill-mode: forwards;
}

#app__title svg path:nth-child(1) {
    stroke-dasharray: 669;
    stroke-dashoffset: 669;
    animation-delay: calc(var(--animation-delay-per-word) * 0);
}

#app__title svg path:nth-child(2) {
    stroke-dasharray: 556;
    stroke-dashoffset: 556;
    animation-delay: calc(var(--animation-delay-per-word) * 1);
}

#app__title svg path:nth-child(3) {
    stroke-dasharray: 503;
    stroke-dashoffset: 503;
    animation-delay: calc(var(--animation-delay-per-word) * 2);
}

#app__title svg path:nth-child(4) {
    stroke-dasharray: 495;
    stroke-dashoffset: 495;
    animation-delay: calc(var(--animation-delay-per-word) * 3);
}

#app__title svg path:nth-child(5) {
    stroke-dasharray: 421;
    stroke-dashoffset: 421;
    animation-delay: calc(var(--animation-delay-per-word) * 4);
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-animation {
    from {
        fill: transparent;
    }

    to {
        fill: var(--theme-ui-colors-primary);
    }
}