.popup {
    --popup-padding: 24px;
    --popup-scroll-width: 8px;

    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 600px;
    height: 500px;
    border-radius: 12px;
    box-shadow: var(--theme-ui-shadow-cards);
    background-color: var(--theme-ui-colors-muted);
    transition: transform var(--animation-duration-muted) var(--animation-cubic-bezier-muted),
    background-color var(--animation-duration-muted) var(--animation-cubic-bezier-muted);
}

.popup.status-open {
    transform: translate(-50%, -50%) scale(1);
}

.popup .popup__header {
    display: flex;
    align-items: center;
    padding: var(--popup-padding);
}

.popup__header .popup__title {
    flex: 1;
}

.popup .popup__container {
    flex: 1;
    padding: 0 calc(var(--popup-padding) - var(--popup-scroll-width)) var(--popup-padding) var(--popup-padding);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.popup__container::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.popup__container::-webkit-scrollbar-thumb {
    border-radius: calc(var(--popup-scroll-width) / 2);
    background-color: color-mix(in oklab, var(--theme-ui-colors-primary), var(--theme-ui-colors-muted) 30%);
}

.popup__container::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-ui-colors-primary);
}