#toast__container {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 99;
}

#toast__container .toast {
    --toast-ui-colors-progress: var(--theme-ui-colors-useless);
    --toast-time: 3s;

    position: relative;
    width: 400px;
    list-style: none;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 10px;
    font-size: 0.875rem;
    box-shadow: var(--theme-ui-shadow-cards);
    background-color: var(--theme-ui-colors-toast);
    justify-content: space-between;
    overflow: hidden;
    animation: show_toast var(--animation-duration-slow) var(--animation-cubic-bezier-muted) forwards;
}

@keyframes show_toast {
    0% {
        transform: translateX(calc(100% + 20px));
    }

    40% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

#toast__container .toast.toast__status-hide {
    animation: hide_toast var(--animation-duration-slow) var(--animation-cubic-bezier-muted) forwards;
}

@keyframes hide_toast {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(calc(100% + 20px));
    }
}

#toast__container :where(.toast, .toast__context) {
    display: flex;
    align-items: center;
}

.toast::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--toast-ui-colors-progress);
    animation: progress var(--toast-time) linear forwards;
}

@keyframes progress {
    100% {
        width: 0;
    }
}

.toast .toast__context>svg {
    width: 32px;
    height: 32px;
    color: var(--toast-ui-colors-progress);
}

.toast .toast__context .toast__text {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 12px;
}