@font-face {
    font-family: 'Resource-Han-Rounded';
    src: url('ResourceHanRoundedCN-Regular.woff2') format('woff2'),
    url('ResourceHanRoundedCN-Regular.woff') format('woff');
}

@font-face {
    font-family: 'LCD-Regular';
    src: url('LCD Regular.woff2') format('woff2'),
    url('LCD Regular.woff') format('woff');
}